@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Londrina+Shadow&family=Playfair+Display:ital,wght@1,500&family=Poiret+One&family=Raleway:wght@800&family=Roboto:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f1;
  color: #222;
  padding-bottom: 50px;
}

/* .h2 {
  font-family: 'Londrina Shadow', cursive;
} */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #f4f4f1;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all .3s ease-in-out;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  /* color: white; */
  color: grey;
  text-decoration: none;
  padding: 7px 15px;
  transition: all .3s ease-in-out;
}
.nav a:hover {
  text-decoration: underline;
  color:black;
}
.social-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;;
  bottom:0;
  left: 100;
  right: 0;
  margin: 25px;
  justify-content: center;
  z-index: 2;
}

.outer-social {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-social >li {
  margin: 2vh;
}


.welcome {
  height: 100vh;
  background-position: bottom center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}

.welcome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#home {
  z-index: 2;
}

.welcome h1 {
  font-family:'Playfair Display', serif;
  font-weight: 400;
  font-size: 46px;
  margin: -20px 0 20px;
  padding-top: 50px;
  color: black;
}

.right-element h1 {
  color: black;
}

.welcome p {
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.welcome img {
  object-fit: cover;
  height: 700px;
  width: 580px;
  transition: transform 0.3s ease;
}

.welcome-container {
  display:flex;
  outline: none;
}

.mystory {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  background-image: url("./assets/IMG_6138.JPG");
  width: 90vw;
  height: 95vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.faded-box {
  background: rgba(0, 0, 0, 0.72);
  width: 45vw;
  height: 35vh;
  margin: 3vh;
  padding: 3vh;
  overflow: auto;
}
.desc p, h1 {
  color: white;
}
.desc h1 {
  margin-bottom: 1vh;
}

.aboutMe {
  display: flex;
  align-content: center;
  background-color: #aca49c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: .2rem;
}

.aboutMe:hover {
  transform: scale(1.1);
  background-color: #f4f4f1;
  color: #3f3f3f;
  transition: background-color 0.6s ease;
}

a {
  text-decoration: none;
}


.sidebox{
  background-color: #fff;
  padding: 20px 95px 5px;
  width: 540px;
  height: 395px;
  color:#222;
  outline: none;
  margin-left: -55px;
  text-align: left;
}

.welcome img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

  /* .content h2, 
  .content h3 {
    font-size: 150%;
    margin: 10px 0;
  }
  
  .content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
  } */



/* SKILLS SECTION */

.icon-container {
  display: grid;
  grid-template-columns: repeat(5, 20vh);
  column-gap: 30px;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  margin: 50px;
  margin-top: 100px;
}
.skill-icon > p {
  margin: 20px;
}
.skill-icon > img {
  width: 100px;
  height: 100px;
}

/* PROJECTS SECTION */

.section-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
}
.section-wrap-elements{
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  column-gap: 40px;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  margin: 50px;
}

.element img {
  border-radius: 10px;
  width:18rem;
  height: 18rem;
}

.element {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b9b7b7;
  overflow: auto;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 10px;
}

.element:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.outer {
  margin: 50px;
  display: flex;
}
.inner1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  color:black;
  height: 45vh;
  width: 25vw;
  margin: 50px;
  padding: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  
}
.inner1 h2, h3 {
  /* position:absolute; */
  padding: 10px;
}

.inner1 h3 {
  position:absolute;
  background-color: black;
  border-radius: 5px;
  padding-top: 10px;
  text-decoration: none;
  margin-top: 20px;
}

.inner1 a {
  /* position:relative;s */
  text-decoration: none;
  color: white;
}

.inner2 {
  position: relative;
  background-color: #424245;
  color:white;
  height: 45vh;
  width: 65vw;
  margin: 50px 50px 50px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.inner2 > form {
  position: relative;
}

/* FORM */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}


#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 75%;
  height: 10%;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 75%;
  
  height: 30%;
  
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 75%;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}


.social {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
}

/* pawfriend */

.element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-top: 20vmin;;
  /* padding: 20px; */
}

.left-element {
  width: 70%;
  height: 100%;
  margin-left: 10vmin; 
}

.right-element {
  width: 30%;
  height: 100%;
  margin: 10vmin;
}

.skills-used {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
}



/* Carousel container */
.carousel-container {
  box-sizing: border-box;
  max-width: 1400px;
  position: relative; 
  /* margin: auto;
  height: 100%;
  max-height: 1000px;  */
  overflow: hidden;
}

/* Hide the images by default */
.myCarousel {
  display: none;
  height: 100%;
} 

.myCarousel img {
  width: 100%;
  object-fit: cover;
  /* margin-top: -5%; */
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} 
.active,
.dot:hover {
  background-color: #3f3f3f;
} 


/* goback button */

.go-back {
  width: 6vmin;
  height: 6vmin;
  background-color: #b9b7b7;
  background-image: url(./assets/back-arrows-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
}
.container > h2 {
  padding-top: 8rem;
}

/* .s-nav {
  position: fixed;
  right: 100;
  top: 0;
  height: 100vh;
  max-width: 40%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  padding: 85px 100px 85px 200px;
}

.nav-count {
  position: relative;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 154px;
}

.nav-count > div {
  color: grey;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.nav-count .current-num {
  width: 18px;
}

.nav-count .current-num span {
  left: 0;
  top: 0;
  position: absolute;
  color: black;
} */



@media (max-width: 935px) {
  .container {
    max-width: 800px;
    margin: 0 50px;
  }
  .welcome h1 {
    font-family:'Playfair Display', serif;
    font-weight: 400;
    font-size: 36px;
    margin: -20px 0 20px;
    padding-top: 50px;
    color: black;
  }
  
  .right-element h1 {
    color: black;
  }
  
  .welcome p {
    padding-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .welcome img {
    object-fit: cover;
    height: 60vw;
    width: 50vw;
    transition: transform 0.3s ease;
  }
  
  .welcome-container {
    display:flex;
    outline: none;
  }
}
@media (min-width: 480px) and (max-width: 800px){
  .container {
    max-width: 800px;
    margin: 0 50px;
  }
  .welcome h1 {
    font-family:'Playfair Display', serif;
    font-weight: 400;
    font-size: 36px;
    margin: -20px 0 20px;
    padding-top: 50px;
    color: black;
  }
  
  .right-element h1 {
    color: black;
  }
  
  .welcome p {
    padding-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .welcome img {
    object-fit: cover;
    height: 60vw;
    width: 50vw;
    transition: transform 0.3s ease;
  }
  
  .welcome-container {
    display:flex;
    outline: none;
  }
  .section-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .section-wrap-elements{
    display: grid;
    grid-template-columns: repeat(2, 18rem);
    column-gap: 40px;
    row-gap: 40px;
    align-items: center;
    justify-items: center;
    margin: 50px;
  }

  .inner1 h1 {
    font-size: 1rem;
  }

  .skills-used {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .icon-container {
    display: grid;
    grid-template-columns: repeat(5, 10vh);
    column-gap: 25px;
    row-gap: px;
    align-items: center;
    justify-items: center;
    margin: 50px;
    margin-top: 100px;
  }
  .skill-icon > p {
    margin: 10px;
  }
  .skill-icon > img {
    width: 70px;
    height: 70px;
    justify-content: center;
    align-content: center;
  }
}